<div class="row justify-content-center mb-2">
  <div class="col-10">
    <a
      class="btn btn-outline-primary"
      routerLink="/create"
      routerLinkActive="active"
    >
      Agregar un ítem
    </a>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <table class="table table-hover table-responsive-xxl">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="align-middle">ID</th>
          <th scope="col" class="align-middle">Código</th>
          <th scope="col" class="align-middle">Nombre</th>
          <th scope="col" class="align-middle">Descripción</th>
          <th scope="col" class="align-middle">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>
            <div class="d-flex flex-row gap-2">
              <button
                class="btn btn-outline-secondary"
                routerLink="/items/{{ item.id }}"
                routerLinkActive="active"
              >
                Editar
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="deleteItem(item.id)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
